* {
    font-family: 'Trebuchet ms', Arial, sans-serif;
    color: #7e7e7e;
    list-style-type: none;
    size: 0.6em;

  margin: 0;
  padding: 0;
}
p {
    padding: 0.6em;
}
html {
background: url(img/background.png) #e7ebe9 no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

}

body {
	background: #fafafa;
    width: 80%;
    margin: 0 auto;
		-webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
}
#head {
    height: 10em;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
		background: url(img/header.png) #e7ebe9 no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

}
#logo {
    padding: 1.5em;
    vertical-align: top;
    font-style: italic;
    font-weight: bold;
}
#imgs {
    height: 5em;
    background-color: #37b84a;
    /*background-image: url("img/bg_head_middle.jpg");*/
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}
#hormenu {
    background-color: #e8e8e8;
    /*background-image: url("img/bg_head_bottom_nav.jpg");*/
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}
.menus {
    padding: 1%;
    border-right: 1px solid #6f6f6f;
    display: inline-block;
    border-color: #8d8d8d;
    font-weight: bold;
    position: relative;
    margin-left: -0.35em;
	margin-bottom: 0.05em;
	width: 15%;
	text-decoration:none;
}
.menus a{
	text-decoration:none;
}

#menu1 {
    margin-left: 0em;
}
.menus:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menuDesp {
    position: absolute;
    left: -0.05em;
    top: 2.6em;
    width: 10em;
    background-color: #f7f7f7;
    border-top: 1px solid #6f6f6f;
    display: none;
    list-style-type: none;
    z-index: 10;
    font-size: 1em;
    height: inherit;
    opacity: 0;
}
.menuDesp li {
    border-bottom: 1px solid #6f6f6f;
	border-left: 1px solid #6f6f6f;
	border-right: 1px solid #6f6f6f;
    padding: 0.3em;
    padding-left: 0.9em;
    border-color: #8d8d8d;
}
.menuDesp li a{
    text-decoration:none;
}

.menuDesp li:hover {
    background-color: #bad896;
    color: #47603c;
}
/*
#menu2:hover ul {
    display: block;
}
.menuDesp:hover {
    display: block;
}
*/

#breadcrum {
    /*background-image: url("img/bg_head_breadcrumbs.jpg");
    background-repeat: repeat-y;*/
    padding: 0.5em;
    padding-left: 0.6em;
    color: #385ca0;
    font-weight: bold;
}
.content {
    position: relative;
    /*background-image: url("img/bg_main_withnav.jpg");
    background-repeat: repeat-y;*/
}
.left {
    position: absolute;
    width: 12.5em;
	height: 90%;
	border-radius: 0px 20px 20px 0px;
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
-moz-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
}
.right {
    position: relative;
    right: 0;
    top: 0;
    left: 30%;
    width: 68%;
	right: 2%;
}

.menu li{
    height: 3em;
    width: 11em;
    padding-top: 1em;
    padding-bottom: 0;
    border-bottom: 2px solid #c1c1c1;
	
    margin-left: 1em;
    text-align: center;
}

.menu li:hover {
	background-color: rgba(0, 0, 0, 0.1);

	padding-left: 1em;
	padding-right: 0.5em;

    border-bottom:2px solid rgba(0, 0, 0, 0);
	margin-left: 0em;
}

.menu li a {
    color: #164090;
    font-weight: 700;
    text-decoration: none;
    padding-left: 0.6em;
}

.left h3 {
    padding-left: 0.6em;
    /*background: url("img/bg_bullet_full_1.gif") repeat 0 50%;*/
    border-radius: 0px 15px 0px 0px;
    width: 12.3;
    color: #f9f9f9;
	background-color: #888888;
	-webkit-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
-moz-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
}
.title {
    font-weight: 700;
    font-stretch: extra-expanded;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c1c1c1;
}
.desc * {
    padding-bottom: 5px;
    padding-top: 10px;
    color: #385ca0;
}

.list li{
list-style-type: square;
margin-left: 30px;
}

.list ul li {
	list-style-type:disc;
}

.desc {
    color: #3d64d0;
    font-weight: bold;
    margin-bottom: 10px;
    top: 100px;
}

#foot {
    height: 5em;
    /*background: url("img/bg_foot.jpg");*/
    text-align: center;
    vertical-align: bottom;
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}

#foot p {
    position: relative;
    top: 0.2em;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.button:active {
	position:relative;
	top:1px;
}

section h5 {
  font-family: Arvo, Arial, sans-serif;
  font-size: 30px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px; }

section p {
  font-family: Georgia, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 100;
  color: white; }


section {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: #333333;
  box-shadow: 0 0 10px;
  /* @group Fullimage */
  /* @end */
  /* @group Smallimages */ }
  section #fullPreview {
    background-color: #333333;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    padding: 50px 0 30px 0;
    display: none; }
	
    section #fullPreview img,
    section #fullPreview .fullCaption {
      max-width: 960px;
      width: 80%;
      margin: 0 auto;
      display: block; }
	  
    section #fullPreview .fullCaption {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 15px;
      font-weight: 300;
      color: white;
      margin: 15px auto 0 auto; }
	  
    section #fullPreview figure {
      background-image: url("../img/effects/close.png");
      background-size: 100%;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer; }
	  
  section li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    /* @group Over */
    /* @group Description */
    /* @end *
    /* @end */ }
    section li:hover .overLayer {
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      opacity: 0.6;
      display: block;
      background: gray; }
    section li:hover .infoLayer {
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      opacity: 1;
      display: block; }
    section li a {
      display: block;
      width: 240px;
      height: 150px;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 6; }
      section li a.spinner {
        background-size: 100%;
        background-image: url("../img/effects/spinner.gif");
        width: 50px;
        height: 50px;
        position: absolute;
        left: 95px;
        top: 60px; }
    section li img {
      border: none;
      margin: 10px 10px 0 0; }
    section li .overLayer,
    section li .infoLayer {
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      width: 240px;
      height: 150px;
      position: absolute;
      text-align: center;
      opacity: 0;
      top: 10px;
      left: 0;
      z-index: 4;
      /* @end */ }
      section li .overLayer ul,
      section li .infoLayer ul {
        padding: 50px 0 0 0; }
        section li .overLayer ul li,
        section li .infoLayer ul li {
          display: block;
          margin: 0 auto;
          width: 200px;
          padding: 0 0 5px 0; }
          section li .overLayer ul li:first-child,
          section li .infoLayer ul li:first-child {
            border-bottom: 2px white solid; }
          section li .overLayer ul li:last-child,
          section li .infoLayer ul li:last-child {
            padding: 5px 0 0 0;
            text-transform: lowercase; }
          section li .overLayer ul li h5,
          section li .infoLayer ul li h5 {
            font-size: 25px; }
    section li .projectInfo {
      display: none; }