* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet ms', Arial, sans-serif;
    color: #7e7e7e;
    list-style-type: none;
    size: 0.6em;
}
p {
    padding: 0.6em;
}
body {
    width: 80%;
    margin: 0 auto;
		-webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.38);
}
#head {
    height: 10em;
    background-color: #e7ebe9;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}
#logo {
    padding: 1.5em;
    vertical-align: top;
    font-style: italic;
    font-weight: bold;
}
#imgs {
    height: 5em;
    background-color: #37b84a;
    /*background-image: url("img/bg_head_middle.jpg");*/
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}
#hormenu {
    background-color: #e8e8e8;
    /*background-image: url("img/bg_head_bottom_nav.jpg");*/
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}
.menus {
    padding: 1%;
    border-right: 1px solid #6f6f6f;
    display: inline-block;
    border-color: #8d8d8d;
    font-weight: bold;
    position: relative;
    margin-left: -0.35em;
	margin-bottom: 0.05em;
	width: 15%;
	text-decoration:none;
}
#menu1 {
    margin-left: 0em;
}
.menus:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menuDesp {
    position: absolute;
    left: -0.05em;
    top: 2.6em;
    width: 10em;
    background-color: #f7f7f7;
    border-top: 1px solid #6f6f6f;
    display: none;
    list-style-type: none;
    z-index: 10;
    font-size: 1em;
    height: inherit;
    opacity: 0;
}
.menuDesp li {
    border-bottom: 1px solid #6f6f6f;
	border-left: 1px solid #6f6f6f;
	border-right: 1px solid #6f6f6f;
    padding: 0.3em;
    padding-left: 0.9em;
    border-color: #8d8d8d;
}
.menuDesp li:hover {
    background-color: #bad896;
    color: #47603c;
}
/*
#menu2:hover ul {
    display: block;
}
.menuDesp:hover {
    display: block;
}
*/

#breadcrum {
    /*background-image: url("img/bg_head_breadcrumbs.jpg");
    background-repeat: repeat-y;*/
    padding: 0.5em;
    padding-left: 0.6em;
    color: #385ca0;
    font-weight: bold;
}
#content {
    position: relative;
    /*background-image: url("img/bg_main_withnav.jpg");
    background-repeat: repeat-y;*/
}
#left {
    position: absolute;
    width: 12.5em;
	height: 90%;
	border-radius: 0px 20px 20px 0px;
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
-moz-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
}
#right {
    position: relative;
    right: 0;
    top: 0;
    left: 30%;
    width: 68%;
	right: 2%;
}

#menu li{
    height: 3em;
    width: 11em;
    padding-top: 1em;
    padding-bottom: 0;
    border-bottom: 2px solid #c1c1c1;
	
    margin-left: 1em;
    text-align: center;
}

#menu li:hover {
	background-color: rgba(0, 0, 0, 0.1);

	padding-left: 1em;
	padding-right: 0.5em;

    border-bottom:2px solid rgba(0, 0, 0, 0);
	margin-left: 0em;
}

#menu li a {
    color: #164090;
    font-weight: 700;
    text-decoration: none;
    padding-left: 0.6em;
}

#left h3 {
    padding-left: 0.6em;
    /*background: url("img/bg_bullet_full_1.gif") repeat 0 50%;*/
    border-radius: 0px 15px 0px 0px;
    width: 12.3;
    color: #f9f9f9;
	background-color: #888888;
	-webkit-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
-moz-box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
box-shadow: inset 16px 8px 10px -12px rgba(0,0,0,0.38);
}
#title {
    font-weight: 700;
    font-stretch: extra-expanded;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 5px solid #c1c1c1;
}
.desc * {
    padding-bottom: 5px;
    padding-top: 10px;
    color: #385ca0;
}

.list li{
list-style-type: square;
margin-left: 30px;
}

#desc {
    color: #3d64d0;
    font-weight: bold;
    margin-bottom: 10px;
    top: 100px;
}

#foot {
    height: 3em;
    /*background: url("img/bg_foot.jpg");*/
    text-align: center;
    vertical-align: bottom;
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.38);
}

#foot p {
    position: relative;
    top: 0.2em;
}
